body {
    font-family: 'arial', sans-serif;
    line-height: 1.6;
    background-color: lightgrey;
    color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
h1 {
    color: #AA336A;
    margin-bottom: 50px;
    font-size: 40px;
   
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

button {
    padding: 15px 25px;
    background-color: pink;
    color: darkred;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 20px;
}

button:hover {
    background-color: cyan;
}

#cityName {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 20px;
    visibility: hidden;
}

#weatherForecast {
    width: 100%;
    max-width: 800px;
}

div.forecast-entry {
    background-color: pink;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    


}



